:root{
    --h1-font-size: 2.32rem;
    --h2-font-font-size: 1.16rem;
    --text-font-size: 0.9rem;
}

body{
    font-family: 'Roboto', sans-serif;
    max-height: 100%;
    max-width: 100%;
    background-color: #3c0661;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-weight: 500;
}

.greetingMessage{
    text-align: center;
    margin-top: 10em;
}

h1{
    
    font-size: var(--h1-font-size);
    padding-bottom: 0.25em;
}
h2{
    font-size: var(--h2-font-font-size);
}

.formWrapper{
    margin-top: 4em;
    font-size: var(--text-font-size);
}

.formWrapper label, .inputFields, .submitButton{
    display: block;
}

label{
    padding-bottom: 0.5em;
    padding-top: 1em;
}

.formWrapper .inputFields{
    max-width: 100%;
    width: 100%;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 0.7em 1em;
    font-size: 1rem;
}

.formWrapper a{
    display: block;
    text-align: right;
    margin-top: 0.5em;
    font-weight: 400;
}

.submitButton{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 2em;
    font-size: 1rem;
    color: white;
    background-color: #f31c22;
    border: none;
    font-weight: 500;
    padding: 0.7em 1em;
}

.submitButton:hover{
    cursor: pointer;
    background-color: #ec8b8e;
}

h3{
    text-align: center;
    border-bottom: 0.15em solid white;
    line-height: 0.01em;
    margin-top: 2em;
}

h3 span{
    background-color: #3c0661;
    padding: 0 1em;
}

.alternateLogin{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 3em;
    justify-content: space-between;
    max-width: 100%;
    width: 45%;
}

.alternateLogin a{
    color: black;
    background-color: white;
    border-radius: 2em;
    padding: 1em 1.3em;
    
}

p{
    margin-top: 3em;
    text-align: center;
    color: #d2d2d2;
}

@media screen and (min-width: 768px){
    .container{
        width: 50%;
    }

    .formWrapper .inputFields{
        padding: 0.5em;
        font-size: 1.25rem;
    }
    .alternateLogin{
        width: 35%;
    }
}

@media screen and (min-width: 1024px){
    
    .container{
        width: 35%;
    }
    .greetingMessage{
        margin-top: 20vh;
    }

    .formWrapper{
        margin-top: 1.5em;

    }
    .alternateLogin{
        width: 25%;
    }
}


