:root{
    --h1-font-size: 2.32rem;
    --h2-font-font-size: 1.16rem;
    --text-font-size: 1rem;
    --font-type : 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    max-height: 100%;
    max-width: 100%;
    background-color: #3c0661;
    color: white;
    font-weight: 500;
}

.modal-container{
    display: none;
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    position: fixed;
    background-color: rgba(39, 39, 39, 0.719);
}

.modal{
    color: black;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
    
    padding: 2em 1em 1em 1em;
    box-sizing: border-box;
    max-width: 65vw;
    border-radius: 0.5em;
}

.modal p{
    padding-bottom: 2em;
}

.modal-button-container{
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 5%;
}
.modal button{
    font-family: var(--font-type);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: transparent;
    border: 0.1em solid #f31c22;
}

.modal button:hover{
    background-color: #f31c22;
    cursor: pointer;
    color: white;
}


.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 1.15em;
    
}

h1{
    font-size: var(--h1-font-size);
    margin-top: 50%;
    
}
h2{
    font-size: var(--h2-font-font-size);
}

p{
    font-size: var(--text-font-size);
}


.button-container{
    margin-top: 2em;
}
.logout-button{
    font-family: var(--font-type);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    font-size: 1rem;
    color: white;
    background-color: #f31c22;
    border: none;
    font-weight: 500;
    padding: 0.7em 1em;
    display: block;
}

.logout-button:hover{
    cursor: pointer;
    background-color: #ec8b8e;
}

.delete-account-button{
    font-family: var(--font-type);
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    font-size: 0.7rem;
    color: white;
    background-color: transparent;
    border:  0.15em solid  #f31c22;
    font-weight: 500;
    padding: 1.25em 0.5em;
    display: block;
}

.delete-account-button:hover{
    cursor: pointer;
    background-color: #f31c22;
}



@media screen and (min-width: 768px){
    
    .modal{
        max-width: 40vw;
        margin-top: 42%;
    }

    .modal-button-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        padding: 0 10%;
        
    }
    
    
    h1{
        margin-top: 40%;
    }

    .button-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2em;
        margin-left: auto;
        margin-right: auto;
    }

    .logout-button, .delete-account-button{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px){

    .modal{
        margin-top: 23%;
        max-width: 30%;
    }

    .modal-button-container{
        padding-right: 1%;
        padding-left: 0;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.3em;
       
        max-width: 60%;
        margin-left: auto;
    }

    

    h1{
        margin-top: 25%;
    }

    .button-container{
        margin-top: 5em;
        column-gap: 3em;
    }
    
}