:root{
    --h1-font-size: 2.32rem;
    --h2-font-font-size: 1.16rem;
    --text-font-size: 0.9rem;
    --font-type : 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    max-height: 100%;
    max-width: 100%;
    background-color: #3c0661;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 80%;
    font-weight: 500;
}
.greetingMessage{
    margin-top: 6em;
    margin-bottom: 2em;
}
h1{
    font-size: var(--h1-font-size);
    text-align: center;
    
}

.grid{
    display: grid;
    grid-template-rows: auto;
    row-gap: 1.25em;
    font-size: var(--text-font-size);
}


.input-fields{
    font-family: var(--font-type);
    margin-top: 0.5em;
    
    max-width: 100%;
    width: 100%;
    border: none;
    border-radius: 0.5em;
    box-sizing: border-box;
    padding: 0.7em 1em;
    font-size: 1rem;
}

.error-message{
    color: red;
    text-align: left;
    margin-top: -1em;
    
    
}

.submitButton{
    font-family: var(--font-type);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    border-radius: 2em;
    font-size: 1rem;
    color: white;
    background-color: #f31c22;
    border: none;
    font-weight: 500;
    padding: 0.7em 1em;
}

.submitButton:hover{
    cursor: pointer;
    background-color: #ec8b8e;
}

.disabled{
    background-color: grey;
}

.disabled:hover{
    cursor: default;
    background-color: grey;
}

p{
    margin-top: 1.5em;
    text-align: center;
    color: #d2d2d2;
}

@media screen and (min-width: 768px){
    .greetingMessage{
        margin-top: 8em;
    }

    .container{
        width: 50%;
    }

    .input-fields{
        padding: 0.5em;
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1024px){
    .container{
        width: 35%;
        
    }

    .greetingMessage{
        margin-top: 10vh;
        margin-bottom: 1em;
    }
}
